<div class="container">
			<footer class="py-3 my-4">
				<ul class="nav justify-content-center border-bottom pb-3 mb-3">
					<li class="nav-item">
						<a href="/" class="nav-link px-2 text-body-secondary"
							>Home</a
						>
					</li>
					<li class="nav-item">
						<a href="/blogs" class="nav-link px-2 text-body-secondary"
							>Blogs</a
						>
					</li>
					<li class="nav-item">
						<a href="/services" class="nav-link px-2 text-body-secondary"
							>Services</a
						>
					</li>
					<li class="nav-item">
						<a href="/projects" class="nav-link px-2 text-body-secondary"
							>Projects</a
						>
					</li>
					<li class="nav-item">
						<a href="/about" class="nav-link px-2 text-body-secondary"
							>About</a
						>
					</li>
				</ul>
				<p class="text-center text-body-secondary">
					&copy; <span class="date-eleme"></span> {{company_name}}, Inc
				</p>
			</footer>
		</div>