<div class="border-bottom row" style="padding-bottom: 8px; margin-bottom: 16px">
	<div class="col-10">
		<h4 style="color: rgb(120, 120, 120); margin-bottom: 4px">
			{{job.get('title')}}
		</h4>
		<div><b>Location: </b>{{job.get("location")}}</div>
		{% if 'salary' in job %}
		<div><b>Salary: </b>{{job.get("salary")}}</div>
        {% endif %}
	</div>
	<div class="col-2">
		<a href="mailto:liwog82811@byorby.com?subject=Application%20for%20{{job.get('title')}}&body=My%20Name%20%3D%20%3CYour%20Name%3E%0D%0AMy%20Resume%20Link%20%3D%20%3CYour%20Resume%20Link%3E%0D%0AMy%20Linkedin%20Profile%20%3D%20%3CYour%20Profile%20Link%3E" type="button" class="btn btn-outline-primary">Apply</a>
	</div>
</div>
